est.pdb
**/__pycache__
**.pyc
**.bak

**.lprof
polyply.egg-info

.eggs/**
*.swp
.pytest_cache
*.egg-info
**/.coverage
.hypothesis

**/test_data/gen_itp/output

**/htmlcov


doc/build
doc/source/api
doc/source/.doctrees
