# This workflow will upload a Python Package using the PyPi action workflow

name: Upload Python Package

on:
  release:
    types: [published]

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
       py_version: ["3.10", "3.11", "3.12", "3.13"] 

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.py_version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.py_version }}
    - name: Install dependencies
      run: |
        pip install --upgrade setuptools pip
        pip install --upgrade .
        pip install -r requirements-tests.txt
        
    - name: Run pytest with codecoverage
      run: |
        coverage run $(which pytest) -vv
        coverage report --omit='*/bin/pytest'
        coverage xml
    - name: Upload coverage codecov   
      uses: codecov/codecov-action@v4
      with:
            verbose: true
            token: ${{ secrets.CODECOV_TOKEN }}
            files: ./coverage.xml
            fail_ci_if_error: true
  
  deploy:
    needs: test
    runs-on: ubuntu-latest
    permissions:
        id-token: write
    steps:
    - uses: actions/checkout@v4
      with:
         fetch-tags: true
         fetch-depth: 0
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
        cache: pip
        cache-dependency-path: |
            **/setup.cfg
            **/requirements-*.txt
            **/pyproject.toml
    - name: Install dependencies
      run: |
          pip install --upgrade setuptools pip
          pip install --upgrade .
    - name: Install pypa/build
      run: |
         python3 -m pip install build pbr --user
    - name: Build a binary wheel and a source tarball
      run: python3 -m build --sdist --wheel --outdir dist/
    - name: Publish package to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1      
      with:
       repository-url: https://upload.pypi.org/legacy/
       user: __token__
       password: ${{ secrets.PYPI_API_TOKEN }}
